* {
    box-sizing: border-box;
}

body {
/*background-image: url("../img/background.png");*/
background: #E6EBE0;    
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    height: 100vh;

}

.button-collapse {
    color: white;
    position: fixed;
    right: 95vw;
    top: 5vh;
}

#slide-out {
    background-image: url("../img/background2.png");
}

#hamburgerButton {
    z-index: 1000;
}

.whiteText {
    color: white;
}

.blurb {
    margin-top: -32px;
    padding-top: 15px;
    vertical-align: top;
}

.blurbText {
    font-size: 20px;
    padding-bottom: 50px;
}

.blurbTitle {
    margin-left: 50px;
}

.blurbContent {
    padding-top: 100px;
}

.experience {
}

.skills {
    margin-top: 15px;
}

.imageGallery {
    padding: 10px;
    transition: all 1s ease;
}

.imageGallery:hover {
    transform: scale(1.5);
}

.notifaction {
    background: #F4F1BB;
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding-bottom: 10px;
}

.notifactionIcon {
    display:block;
    margin:auto;
    transition: all 1s ease;
    text-align: center;
    width: 300px;
}

.notifactionIcon:hover {
    transform: rotate(360deg);
}

.notifactionText {
    /*color: white;*/
    font-size: 20px;
    text-align: center;
}

.portfolio {
    background: #9BC1BC;
    margin-top: -15px;
    margin-bottom: -15px;
}

.portfolioTitle {
    font-size: 50px;
    margin-bottom: -70px;
    padding-top: 30px;
}

.titleLink {
    text-decoration: underline;
}

.page-footer {
    margin-top: -15px;
}